/* Estilos para el cuerpo de la página */
body.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* Estilos para el contenedor del formulario */
.container-login {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    margin: auto; /* Centra el contenedor horizontalmente */
}

/* Estilos para el título "Iniciar Sesión" */
h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Estilos para el formulario */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos del formulario */
}

/* Estilos para los campos del formulario */
.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    width: calc(100% - 22px); /* Ancho ajustado para incluir el padding y el borde */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

/* Estilos para el botón de enviar */
.button-login {
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Estilos para el botón de enviar al pasar el mouse */
.button-login:hover {
    background-color: #3071a9;
}

/* Estilos para la lista de mensajes (si la hubiera) */
ul {
    list-style-type: none;
    padding: 0;
}

/* Estilos para los mensajes de error o éxito */
ul li {
    color: red; /* Color rojo para mensajes de error */
}
